body {
    background-color: aqua;

}
#score {
    font-size: 45px;
    float: left;
    margin-left: 30px;

}
#time {
    font-size: 45px;
    float: right;
    margin-right: 30px;
}
#sketch_name {
    color :red;
    font-size: 30px;


}
#confidence {
    font-size: 30px;

}
#Yoursketch {
    font-size: 30px;
}
#show_sketch {
    float: right;
}
h1 {
    background-color: aquamarine;
}
